# Java / Maven
target/
*.class
*.jar
*.war

# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Node / Frontend
node_modules/
dist/
.next/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Secrets (IMPORTANT)
.env
*.env
.env.*
application-prod.yml
